@font-face {
  font-family: jameelNoori;
  src: url(Jameel.ttf);
  font-weight: bold;
}
body{
  font-family: jameelNoori;
  overflow-x: hidden;
}
.card{
    cursor: pointer;
    text-align: center;
    border: none;
}
div{
    word-wrap: break-word;
}